<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sudoku Player - NYT Scrape</title>
    <link rel="stylesheet" href="../assets/stylesheets/styles.css">
    <script src="/scripts/nyt.js" defer></script>
    <script src="/scripts/puzzle.js"></script>
    <script src="/scripts/nytSudokuPlayer.js"></script>
  </head>
  <body>
    <p id="puzzle_data"><%=JSON.stringify(puzzle_data)%></p>
    <h1>Sudoku Player</h1>
    <h3>Attempt to solve today's NYT sudoku puzzle, or click here to see a walkthrough solution:</h3>
    <script src="../scripts/models/grid.js"></script>
    <script src="../scripts/models/inputs.js"></script>
  </body>
</html>