<html>
<head>
    <meta charset="UTF-8">
    <title>Sudoku Player</title>
    <link rel="stylesheet" href="../assets/stylesheets/styles.css">
    <script src="/scripts/index.js" defer></script>
    <script src="/scripts/puzzle.js"></script>
    <script src="/scripts/sudokuPlayer.js"></script>
    <script src="/scripts/solutionChecker.js"></script>


</head>

<body>
  <h1>Sudoku Checker</h1>
  <h3>Enter a solved sudoku puzzle and see if the solution is correct:</h3>

  <script src="../scripts/models/grid.js"></script>
  <script src="../scripts/models/inputs.js"></script>
  <script src="../scripts/models/puzzlePaste.js"></script>
  <script src="../scripts/models/controls.js"></script>
</body>

</html>