body{
    text-align: center;
}

/* grid */
#container{
    height: 27em;
    width: 27em;
    margin: auto;
    border: 3px solid black;
    position: relative;
}

.line{
    background: black;
    position: absolute;
}

/* 
TODO fix small styling issue causing any boxes in cols 4-9 to be slightly off-centered
for failing to consider the difference in borders (i.e. the thicker line after cols 3, 6)
*/

.line.h{
    height:1px;
    width: 100%;
}

.line.v{
    width: 1px;
    height: 100%;
}

#h3, #h6{
    height:3px;
}

#v3, #v6{
    width: 3px;
}

/* inputs */
form{
    margin-block-end: 0;
}

.row{
  width: 100%;
  height: calc(100% / 9);
  display: flex;
}

.box{
  display: flex;
  font-size: 48px;
  height: 1em;
  width: 1em;
  overflow: hidden;
}

.box .container{
  font-size: 10px;
  line-break: anywhere;
}

.input{
  font-size: 30px;
  border: none;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0;
}

.input:focus{
    outline:none;
}

/* Puzzle Paste */
.paste{
  margin: auto;
  width: 28em;
}

#pasteText{
  margin-top: 1em;
  width: 27em;
}

#pasteText, #pasteButton{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* controls */
.methodControls{
  width: 50%;
  margin: 2em auto;
  padding: 2em;

}

#bruteForceControls{
  border: 2px solid rebeccapurple;
}

#bruteForceControls button{
  margin: 0 10%;
}

#eliminatePairsControls{
  border: 2px solid rgb(76, 231, 89);
}

#eliminatePairsControls button{
  margin: 0 8%;
}

#uniqueCandidateControls{
  border: 2px solid rgb(230, 139, 55);
}

#uniqueCandidateControls button{
  margin: 0 7%;
}

