/* ROUTE STYLES */
/* TODO update to mobile first */
.homeScreen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 6em;
}

.homeScreen--title {
  width: 1000px;
  margin: 0 auto;
  color: #585C69;
}

.homeScreen--title h1 {
  text-align: center;
  font-size: 135px;
  line-height: 163px;
  letter-spacing: 0.29em;
  margin: 0;
}
.nytScreen{
  text-align: center;
  align-items: center;
}

/* COMPONENT STYLES */
.puzzleTable table{
  margin: 1em auto;
}
.puzzleTable tr{
  border-spacing: 0 !important;
}

.puzzleTable td{
  height: 50px;
  width: 50px;
  border: 1px solid;
}

.puzzleTable td > input{
  font-size: 20px;
  width: 100%;
  border: none;
  text-align: center;
}
.puzzleTable td > input:focus{
  outline:none
}
/* outside grid line styling */
.puzzleTable td:first-child{
  border-left: 4px solid;
}
.puzzleTable td:last-child{
  border-right: 4px solid !important; 
}
.puzzleTable .row1 > td{
  border-top: 4px solid;
}
.puzzleTable .row9 > td{
  border-bottom: 4px solid;
}
/* interior grid line styling (one less pixel) */
.puzzleTable td:nth-child(3n){
  border-right: 3px solid;
}
.puzzleTable .row3 > td, 
.puzzleTable .row6 > td{
  border-bottom: 3px solid;
}